<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <title>Cool Temperatures</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
    <meta http-equiv="refresh" content="300">
</head>
<body style="background-color: aquamarine">

<!-- HEADER -->
<div class="jumbotron banner">
    <h1 style="">Sensoren</h1>
    <h5>
        <a href="https://github.com/leonhess">
            <object style="pointer-events: none" width="24" height="24"
                    data="{{ url_for('static', filename='github.svg') }}" type="image/svg+xml">
                Get a modern Browser.
            </object>
        </a>
    </h5>
</div>

<!-- NAVBAR -->
<header class="navbar sticky-top navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-dark">
    <a class="navbar-brand mr-0 mr-md-2" href="/">L</a>

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <form action="/sensors" method="get">
                    <a class="nav-link active" href="/sensors">Sensoren</a>

                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/graphs">Graphs</a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
            <a class="nav-link p-2"
               href="https://github.com/leonhess/smarthome/tree/master/website">GitHub</a>
        </li>
        <li class="nav-item">
            <a tabindex="0" class="nav-link p-2" data-toggle="popover" data-trigger="focus"
               title="Whoops!"
               data-content="to be implemented"
            >Impressum</a>
        </li>
        <li class="nav-item">
            <a tabindex="0" class="nav-link p-2 btn btn-success" data-toggle="popover" data-trigger="focus"
               title="Whoops!"
               data-content="to be implemented"
            >Login</a>
        </li>
    </ul>
</header>

<!-- BODY -->
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-dark display" id="">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Temperatur [°C]</th>
                    <th>Zeit</th>
                </tr>
                </thead>
                <tbody>
                {% for sensor in temp_result %}
                    <tr>
                        <td>{{ sensor.name }}</td>
                        <td>{{ sensor.temperature }}</td>
                        <td>{{ sensor.time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-dark display" id="">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Luftfeuchtigkeit [%]</th>
                    <th>Zeit</th>
                </tr>
                </thead>
                <tbody>
                {% for sensor in hum_result %}
                    <tr>
                        <td>{{ sensor.name }}</td>
                        <td>{{ sensor.humidity }}</td>
                        <td>{{ sensor.time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>

</body>
<script>
    $(document).ready(function() {
    $('table.display').DataTable({
        "order": [[1, "asc"]],
        "lengthMenu": [[1, 5, 10, -1], [1, 5, 10, "All"]],
        "paging": false,
        "info": false,
        "searching": true
    });
});
</script>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
        $('.popover-dismiss').popover({
            trigger: 'focus'
        })
    })
</script>

</html>